# Folders

.venv/
.devbox/

src/__pycache__/
output/

data/

src/modelos
resultados_e_metricas/script_09_modelo_hibrido

# Files

TODO*
devbox.lock
src/teste.py
.env
kaggle_test.py
kernel.ipynb
kernel-metadata.json