# Folders

.venv/
.devbox/

src/__pycache__/
output/

image_tracings


# Files

TODO*
devbox.lock
src/script_06_baseline_tabular_v2_completo.ipynb
src/teste.py
src/script_07_verificar_integridade_imagens_v2.py